a:link { text-decoration: none; } a:visited { text-decoration: none; }

* {
    box-sizing: border-box;
    max-width: 1024px;
}
html {
    font-family: 'Nunito',"trebuchet ms",arial,helvetica,sans-serif;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.header {
    height: 300px;
    //line-height: 200px;
    vertical-align: bottom;
    background-image: url("logos/NTNU_building.jpg");
    background-color: #4488cc;
    color: #ffffff;
    padding: 10px;
}
.header a {
    color: white;
}

@media screen and (max-width:768px) {
    .header { height: 200px; }
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}


ul.topnav li.icon { display: none; }
ul.topnav li a:focus, .active { background-color: #ccc; }
ul.topnav li {
    padding: 0px;
    margin-bottom: 0px;
    background-color: #f1f1f1;
    //color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    //display: inline-block;
    color: black;
    //text-align: center;
    //padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
ul.topnav li a { color: black; }
ul.topnav li a:hover { background-color: #ddd; }

@media screen and (max-width:768px) {
    ul.topnav li a:focus, .active { background-color: #f1f1f1; }
    ul.topnav li:not(.active) {display: none;}
    ul.topnav li.icon {
	float: right;
	display: inline-block;
    }
}

@media screen and (max-width:768px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.aside {
    background-color: #f1f1f1;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    //display: inline-block;
    float: none;
}

/* Page columns, for desktop */
.col-main {width: 67%;}
.col-side {width: 33%;}

/* Page columns, for mobile */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


th, td {
    text-align: left;
    padding: 5px;
}

tr.intro {
    height:25px;
    background-color:#AED6F1;
}

tr.keynote {
    height:50px;
    background-color:#5499C7;
}

tr.session {
    height:50px;
    background-color:#AED6F1;
}

tr.coffee {
    height:25px;
    background-color:#F5B7B1;
}

tr.lunch {
    height:50px;
    background-color:#F9E79F;
}

tr.gap {
    height:50px;
}

tr.dinner {
    height:175px;
    background-color:#F9E79F;
}


